*.swp
*.o
*.lo
*.la
*.deps
*.libs
Makefile.in
Makefile
Applications/heimdall
Applications/coincidencer
Applications/coincidencer_client
Applications/candidate_profiler
Applications/generate_dmlist
Applications/Makefile
Applications/fil2pgm

